/* Jake Kravas
This file styles index.html
*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #323946;
  color: #0ef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chat-content {
  padding: 10px;
  font-size: 20px;
  height: 80vh;
  overflow-y: scroll;
}

.chat {
  margin: 8px;
}

#chat-input {
  background-color: #1f242d;
  width: 100%;
  padding: 20px;
}

.user-input {
  width: 250px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 25%;
}
